@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

html {
  width: 100%;
  height: 100%;
}

.body {
  align-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background: #FDFDFD;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

body.menu-active .container {
  transform: scale(0.9);
}

.container .inner {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.nav {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  margin: 0;
  padding: 0 25px;
  box-sizing: border-box;
  z-index: 99;
}

.nav a {
  display: inline-block;
  height: 75px;
  line-height: 75px;
  font-size: 30px;
  padding: 0 25px;
  color: #212121;
  text-decoration: none;
  cursor: pointer;
  text-align: center;

  transition: all 0.32s ease;
}

body:not(.menu-active) .nav a.menu-activator:hover {
  transform: rotate(90deg);
}

body.menu-active .nav a.menu-activator {
  transform: rotate(90deg);
}

.nav a.white {
  color: #FAFAFA;
}

body.menu-active .nav a.white {
  color: #212121;
  transition: all 0.15s ease;
}

.nav a.link {
  float: right;
  position: relative;
  text-align: center;
}

.nav a.link i {
  position: absolute;
  display: block;
  transform: translateX(-50%);

  transition: all 0.32s ease;
}

.nav a.link i.hidden {
  opacity: 0;
  pointer-events: none;
}

.nav a.link:hover i {
  opacity: 0;
  pointer-events: none;
}

.nav a.link:hover i.hidden {
  opacity: 1;
  pointer-events: auto;
}

.nav i.ion-cube {
  display: inline-block;
  position: absolute;
  height: 75px;
  line-height: 75px;
  font-size: 35px;
  left: 50%;
  transform: translateX(-50%);
}

.container .inner .panel {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 60%;
  float: left;
  transform: skew(-20deg);
}

.container .inner .panel.panel-left {
  margin-left: -10%;
}

.container .inner .panel .panel-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-40%) skew(20deg);
}

.container .inner .panel.panel-left .panel-content .image-background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  opacity: 0.95;
  background-image: url('http://uplusion23.net/images/RickGenestSm.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.container .inner .panel.panel-right {
  margin-right: -10%;
  background: #1B1B1B;
}

.container .inner .panel.panel-right .panel-content .form {
  display: block;
  position: absolute;
  margin: 0 auto;
  width: 300px;
  min-height: 400px;
  top: 20%;
  left: 50%;
  transform: translateX(-50%) translateY(-25%);
}

.container .inner .panel.panel-right .panel-content .form h1 {
  display: block;
  margin: 0 0 45px 0;
  color: #B1B1B1;
  font-weight: 200;
  font-size: 18px;
}

.group {
  position: relative;
  margin-bottom: 25px;
}

input {
  font-size: 13px;
  height: 25px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  outline: none;
  border-bottom: 1px solid #B1B1B1;
  color: #B1B1B1;
  background: rgba(0,0,0,0);
  opacity: 0.5;
  transition: 0.2s ease;
}

input:focus {
  outline: none;
  opacity: 1;
}

label {
  color: #B1B1B1;
  font-size: 13px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 15px;
  opacity: 0.5;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label    {
  top: -10px;
  font-size: 12px;
  color: #B1B1B1;
  opacity: 1;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#B1B1B1; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#B1B1B1; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#B1B1B1; }
  to  { width:0; background:transparent; }
}

a.send-btn {
  float: right;
  color: #B1B1B1;
  transition: 0.2s ease;
}

a.send-btn:hover {
  color: #303234;
  cursor: pointer;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;

  transition: all 0.33s ease;
}

.menu::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(240,240,240,0.0);

  transition: all 0.45s ease;
}

body.menu-active .menu {
  left: 0;
}

body.menu-active .menu::before {
  background: rgba(240,240,240,0.9);
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #2c3e50;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

h1 {
  color: #f1c40f;
  font-size: 4rem;
  text-transform: uppercase;
  display: block;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
}

p {
  color: #f1c40f;
  font-size: 1.2rem;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}

.first {
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.first:hover {
  box-shadow: 0 0 40px 40px #e74c3c inset;
}

.second {
  border-radius: 3em;
  border-color: #1abc9c;
  color: #fff;
  background-image: -webkit-linear-gradient(left, rgba(26, 188, 156, 0.6), rgba(26, 188, 156, 0.6) 5%, #1abc9c 5%, #1abc9c 10%, rgba(26, 188, 156, 0.6) 10%, rgba(26, 188, 156, 0.6) 15%, #1abc9c 15%, #1abc9c 20%, rgba(26, 188, 156, 0.6) 20%, rgba(26, 188, 156, 0.6) 25%, #1abc9c 25%, #1abc9c 30%, rgba(26, 188, 156, 0.6) 30%, rgba(26, 188, 156, 0.6) 35%, #1abc9c 35%, #1abc9c 40%, rgba(26, 188, 156, 0.6) 40%, rgba(26, 188, 156, 0.6) 45%, #1abc9c 45%, #1abc9c 50%, rgba(26, 188, 156, 0.6) 50%, rgba(26, 188, 156, 0.6) 55%, #1abc9c 55%, #1abc9c 60%, rgba(26, 188, 156, 0.6) 60%, rgba(26, 188, 156, 0.6) 65%, #1abc9c 65%, #1abc9c 70%, rgba(26, 188, 156, 0.6) 70%, rgba(26, 188, 156, 0.6) 75%, #1abc9c 75%, #1abc9c 80%, rgba(26, 188, 156, 0.6) 80%, rgba(26, 188, 156, 0.6) 85%, #1abc9c 85%, #1abc9c 90%, rgba(26, 188, 156, 0.6) 90%, rgba(26, 188, 156, 0.6) 95%, #1abc9c 95%, #1abc9c 100%);
  background-image: linear-gradient(to right, rgba(26, 188, 156, 0.6), rgba(26, 188, 156, 0.6) 5%, #1abc9c 5%, #1abc9c 10%, rgba(26, 188, 156, 0.6) 10%, rgba(26, 188, 156, 0.6) 15%, #1abc9c 15%, #1abc9c 20%, rgba(26, 188, 156, 0.6) 20%, rgba(26, 188, 156, 0.6) 25%, #1abc9c 25%, #1abc9c 30%, rgba(26, 188, 156, 0.6) 30%, rgba(26, 188, 156, 0.6) 35%, #1abc9c 35%, #1abc9c 40%, rgba(26, 188, 156, 0.6) 40%, rgba(26, 188, 156, 0.6) 45%, #1abc9c 45%, #1abc9c 50%, rgba(26, 188, 156, 0.6) 50%, rgba(26, 188, 156, 0.6) 55%, #1abc9c 55%, #1abc9c 60%, rgba(26, 188, 156, 0.6) 60%, rgba(26, 188, 156, 0.6) 65%, #1abc9c 65%, #1abc9c 70%, rgba(26, 188, 156, 0.6) 70%, rgba(26, 188, 156, 0.6) 75%, #1abc9c 75%, #1abc9c 80%, rgba(26, 188, 156, 0.6) 80%, rgba(26, 188, 156, 0.6) 85%, #1abc9c 85%, #1abc9c 90%, rgba(26, 188, 156, 0.6) 90%, rgba(26, 188, 156, 0.6) 95%, #1abc9c 95%, #1abc9c 100%);
  background-position: 0 0;
  background-size: 100%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.second:hover {
  background-position: 100px;
}

.third {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.fourth {
  border-color: #f1c40f;
  color: #fff;
  background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.fourth:hover {
  background-position: 0;
}

.fifth {
  border-color: #8e44ad;
  border-radius: 0;
  color: #8e44ad;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.fifth:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #8e44ad;
  z-index: -1;
  -webkit-transition: width 150ms ease-in-out;
  transition: width 150ms ease-in-out;
}
.fifth:hover {
  color: #fff;
}
.fifth:hover:after {
  width: 110%;
}

.sixth {
  border-radius: 3em;
  border-color: #2ecc71;
  color: #2ecc71;
  background-image: -webkit-linear-gradient(top, transparent 50%, #2ecc71 50%);
  background-image: linear-gradient(to bottom, transparent 50%, #2ecc71 50%);
  background-position: 0% 0%;
  background-size: 210%;
  -webkit-transition: background 150ms ease-in-out, color 150ms ease-in-out;
  transition: background 150ms ease-in-out, color 150ms ease-in-out;
}
.sixth:hover {
  color: #fff;
  background-position: 0 100%;
}



.table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-collapse: collapse;
}
.table th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}
.table td {
  border: 1px solid #dddddd;
  padding: 5px;
}