<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body class="body">
<form th:action="${'/'}">
  <div class="text">
    <table class="text">
      <tr>
        <td>
          <a href="/login" class="btn first">Авторизация</a>
        </td>
        <td>
          <a href="/admin/a" class="btn first">Панель администратора</a>
        </td>
      </tr>
    </table>
    <table border="0">
      <tr>
        <td>
          <table border="0">
      <tr>
        <td>
          <h1>Компания поставщика</h1>
        </td>
        <td>
          <a href="/contractAdd" class="btn first">Добавить компанию</a>
        </td>
      </tr>
      <tr>
        <td>
          <h1>Чек</h1>
        </td>
        <td>
          <a href="/chequeAdd" class="btn first">Добавить чек</a>
        </td>
      </tr>
          </table>
        </td>
        <td>
          <table border="0">
          <tr>
            <td>
              <h1>Места</h1>
            </td>
            <td>
              <a href="/seatAdd" class="btn first">Добавить место</a>
            </td>
          </tr>
          <tr>
            <td>
              <h1>Добавить место к рейсу</h1>
            </td>
            <td>
              <a href="/flight/seat/add" class="btn first">Добавить место к рейсу</a>
            </td>
          </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
<div class="text">
  <table border="0">
    <tr>
      <td>
        <h1>Рейсы</h1>
      </td>
      <td>
        <a href="/flightAdd" class="btn first">Добавить рейс</a>
      </td>
      <td>
        <a href="/flightFilter" class="btn first">Поиск рейса</a>
      </td>
    </tr>
  </table>
</div>
  <table class="table">
    <thead>
    <tr>
      <th>Место отправления</th>
      <th>Дата рейса</th>
      <th>Время отправления</th>
      <th>В наличии?</th>
      <th>Количество мест</th>
      <th>Компания перевозчик</th>
      <th>Места</th>
      <th>Подробнее</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="el : ${flight}">
      <td><h3 th:text="${el.pointOfDeparture}"></h3></td>
      <td><a th:text="${el.dateOfFlight}"></a></td>
      <td><a th:text="${el.timeOfDeparture}"></a></td>
      <td><a th:text="${el.soldOut}"></a></td>
      <td><a th:text="${el.countOfSeats}"></a></td>
      <td>
        <from th:each="addr : ${el.getCarrierCo()}">
          <a th:text="${addr.getCarrierCoName()}"></a>
        </from>
      </td>
      <td>
        <form th:each="se : ${el.getSeats()}">
          <div>
            <a th:text="${se.getName()}"/>
          </div>
        </form>
      </td>
      <td><a class="send-btn" th:href="'/flight/' + ${el.id}">Подробнее</a></td>
    </tr>
    </tbody>
  </table>
    <div class="text">
      <table border="0">
        <tr>
          <td>
            <h1>Билеты</h1>
          </td>
          <td>
            <a href="/ticketAdd" class="btn first">Добавить билет</a>
          </td>
          <td>
            <a href="/ticketFilter" class="btn first">Поиск билета</a>
          </td>
        </tr>
      </table>
    </div>
  <table class="table">
    <thead>
    <tr>
      <th>ФИО клиента</th>
      <th>Дата покупки</th>
      <th>Кол-во мест</th>
      <th>Стоимость</th>
      <th>Оплачен?</th>
      <th>Фамилия сотр</th>
      <th>Подробнее</th>
    </tr>
    </thead>
    <tbody>
    <form class="text" th:action="${'/ticket'}">
    <tr th:each="el : ${ticket}">
      <td><h3 th:text="${el.fioClient}"></h3></td>
      <td><a th:text="${el.dateOfDelivery}"></a></td>
      <td><a th:text="${el.countClientsSeats}"></a></td>
      <td><a th:text="${el.coast}"></a></td>
      <td><a th:text="${el.isPaid}"></a></td>
      <td>
        <from th:each="addr : ${el.getCheck()}">
          <a th:text="${addr.getEmployeeFIO()}"></a>
        </from>
      </td>
      <td><a class="send-btn" th:href="'/ticket/' + ${el.id}">Подробнее</a></td>
    </tr>
    </form>
    </tbody>
  </table>
</form>
</body>
</html>