<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/site.css}" rel="stylesheet" />
    <title>Title</title>
</head>
<body class="body">
    <div class="nav">
        <a href="/" class="menu-activator"><i class="ion-ios-more"></i></a>
        <i class="ion-cube"></i>
    </div>
    <div class="inner">
        <div class="panel panel-left">
            <div class="panel-content">
                <div class="image-background">
                </div>
            </div>
        </div>
            <div class="panel-content">
                <div class="form">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Дата рейса</th>
                            <th>Место отправления</th>
                            <th>Место прибытия</th>
                            <th>Время отправления</th>
                            <th>Время прибытия</th>
                            <th>Стоимость</th>
                            <th>Компания перевозчик</th>
                            <th>Места</th>
                            <th>Редактирование</th>
                            <th>Удаление</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="el : ${flight}">
                            <td><a th:text="${el.dateOfFlight}"></a></td>
                            <td><h3 th:text="${el.pointOfDeparture}"></h3></td>
                            <td><h3 th:text="${el.pointOfArrival}"></h3></td>
                            <td><a th:text="${el.timeOfDeparture}"></a></td>
                            <td><a th:text="${el.timeOfArrival}"></a></td>
                            <td><a th:text="${el.coast}"></a></td>
                            <td>
                                <from th:each="addr : ${el.getCarrierCo()}">
                                    <a th:text="${addr.getCarrierCoName()}"></a>
                                </from>
                            </td>
                            <td>
                                <form th:each="se : ${el.getSeats()}">
                                    <div>
                                        <a th:text="${se.getName()}"/>
                                    </div>
                                </form>
                            <td><a class="send-btn" th:href="'/flight/' + ${el.id} + '/edit'">Редактировать</a></td>
                            <td><a class="send-btn" th:href="'/flight/' + ${el.id} + '/remove'">Удалить</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</body>
</html>