<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Добавление нового рейса</title>
  <link th:href="@{/css/site.css}" rel="stylesheet" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class="body">
<form th:action="${'/flightAdd'}" class="body" method="post">
<div class="nav">
  <a href="/" class="menu-activator"><i class="ion-ios-more"></i></a>
  <i class="ion-cube"></i>
</div>
<div class="container">
  <div class="inner">
    <div class="panel panel-left">
      <div class="panel-content">
        <div class="image-background">
        </div>
      </div>
    </div>

    <div class="panel panel-right">
      <div class="panel-content">
        <div class="form">
          <h1>Добавление рейса</h1>
          <div class="group">
            <input type="date" name="dateOfFlight">
            <span class="highlight"></span>
            <label>Введите Дату рейса</label>
          </div>
            <div class="group">
                <input type="time" step="2"  name="timeOfDeparture">
                <label>Введите время отправления</label>
            </div>
          <div class="group">
            <input type="text" name="pointOfDeparture" required>
            <span class="highlight"></span>
            <label>Введите место отправления</label>
          </div>
            <div class="group">
                <input type="checkbox" name="soldOut">
                <span class="highlight"></span>
                <label>Есть в наличии?</label>
            </div>
            <div class="group">
                <input type="number" name="countOfSeats" required>
                <span class="highlight"></span>
                <label>Кол-во мест</label>
            </div>
            <button class="btn fifth" type="submit">Добавить рейс</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="menu"></div>
</form>
</body>
</html>