<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body class="body">
<div class="nav">
  <a href="/" class="menu-activator"><i class="ion-ios-more"></i></a>
  <i class="ion-cube"></i>
</div>
<h2 class="text">Фильтрация</h2>
<form class="text" method="post" th:action="${'/flightFilter/result'}">
  <input type="text" name="pointOfDeparture">
  <button type="submit">Найти</button>
  <div class="text">
  <table border="0" class="text" align="center">
    <tr>
      <td>
        <fieldset class="text">
          <legend>Мягкий поиск</legend>
          <table class="table">
            <thead>
            <tr>
              <th>Место отправления</th>
              <th>Дата рейса</th>
              <th>Время отправления</th>
              <th>В наличии?</th>
              <th>Количество мест</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="el : ${result}">
              <td><h3 th:text="${el.pointOfDeparture}"></h3></td>
              <td><a th:text="${el.dateOfFlight}"></a></td>
              <td><a th:text="${el.timeOfDeparture}"></a></td>
              <td><a th:text="${el.soldOut}"></a></td>
              <td><a th:text="${el.countOfSeats}"></a></td>
            </tr>
            </tbody>
          </table>
        </fieldset>
      </td>
      <td>
        <fieldset class="text">
          <legend>Жесткий поиск</legend>
          <table class="table">
            <thead>
            <tr>
              <th>Место отправления</th>
              <th>Дата рейса</th>
              <th>Время отправления</th>
              <th>В наличии?</th>
              <th>Количество мест</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="el : ${result2}">
              <td><h3 th:text="${el.pointOfDeparture}"></h3></td>
              <td><a th:text="${el.dateOfFlight}"></a></td>
              <td><a th:text="${el.timeOfDeparture}"></a></td>
              <td><a th:text="${el.soldOut}"></a></td>
              <td><a th:text="${el.countOfSeats}"></a></td>
            </tr>
            </tbody>
          </table>
        </fieldset>
      </td>
    </tr>
  </table>
  </div>
</form>
</body>
</html>