<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/site.css}" rel="stylesheet" />
    <title>Редактирование рейса</title>
</head>
<body class="body">
<form class="body" th:each="el: ${flight}" th:object="${flight}" method="post">
<div class="nav">
    <a href="/" class="menu-activator"><i class="ion-ios-more"></i></a>
    <i class="ion-cube"></i>
</div>
<div class="container">
    <div class="inner">
        <div class="form group" style="color: red" th:if="${#fields.hasErrors('dateOfFlight')}" th:errors="*{dateOfFlight}"></div>
        <div class="form group" style="color: red" th:if="${#fields.hasErrors('timeOfDeparture')}" th:errors="*{timeOfDeparture}"></div>
        <div class="form group" style="color: red" th:if="${#fields.hasErrors('pointOfDeparture')}" th:errors="*{pointOfDeparture}"></div>
        <div class="form group" style="color: red" th:if="${#fields.hasErrors('timeOfArrival')}" th:errors="*{timeOfArrival}"></div>
        <div class="form group" style="color: red" th:if="${#fields.hasErrors('pointOfArrival')}" th:errors="*{pointOfArrival}"></div>
        <div class="panel panel-left">
            <div class="panel-content">
                <div class="image-background">
                </div>
            </div>
        </div>

        <div class="panel panel-right">
            <div class="panel-content" >
                <div class="form">
                    <h1>Изменение рейса</h1>
                    <div class="group">
                        <input type="date" th:value="${el.dateOfFlight}" th:field="*{dateOfFlight}" name="dateOfFlight">
                        <span class="highlight"></span>
                        <label>Введите Дату рейса</label>
                    </div>
                    <div class="group">
                        <input type="time" step="2" th:value="${el.timeOfDeparture}" th:field="*{timeOfDeparture}"  name="timeOfDeparture">
                        <label>Введите время отправления</label>
                    </div>
                    <div class="group">
                        <input type="time" step="2" th:value="${el.timeOfArrival}" th:field="*{timeOfArrival}"  name="timeOfArrival">
                        <label>Введите время прибытия</label>
                    </div>
                    <div class="group">
                        <input type="text" th:value="${el.pointOfDeparture}" th:field="*{pointOfDeparture}" name="pointOfDeparture" required>
                        <span class="highlight"></span>
                        <label>Введите место отправления</label>
                    </div>
                    <div class="group">
                        <input type="text" th:value="${el.pointOfArrival}" th:field="*{pointOfArrival}" name="pointOfArrival" required>
                        <span class="highlight"></span>
                        <label>Введите место прибытия</label>
                    </div>
                    <div class="group">
                        <input type="number" th:value="${el.coast}" name="coast" required>
                        <span class="highlight"></span>
                        <label>Стоимоть</label>
                    </div>
                    <div class="group">
                        <select  name="carrierCoName">
                            <div th:each="element : ${contracts}">
                                <option th:text="${element.carrierCoName}"></option>
                            </div>
                        </select>
                        <label>Выбор компании поставщика</label>
                    </div>
                    <form method="post">
                    <button class="btn fifth" type="submit">Изменить рейс</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="menu"></div>
</form>
</body>
</html>