<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Добавление нового рейса</title>
  <link th:href="@{/css/site.css}" rel="stylesheet" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class="body">
<form th:action="${'/flightAdd'}" th:object="${flight}" class="body" method="post">
<div class="nav">
  <a href="/" class="menu-activator"><i class="ion-ios-more"></i></a>
  <i class="ion-cube"></i>
</div>
<div class="container">
  <div class="inner">
    <div class="form group" style="color: red" th:if="${#fields.hasErrors('dateOfFlight')}" th:errors="*{dateOfFlight}"></div>
    <div class="form group" style="color: red" th:if="${#fields.hasErrors('timeOfDeparture')}" th:errors="*{timeOfDeparture}"></div>
    <div class="form group" style="color: red" th:if="${#fields.hasErrors('pointOfDeparture')}" th:errors="*{pointOfDeparture}"></div>
    <div class="form group" style="color: red" th:if="${#fields.hasErrors('timeOfArrival')}" th:errors="*{timeOfArrival}"></div>
    <div class="form group" style="color: red" th:if="${#fields.hasErrors('pointOfArrival')}" th:errors="*{pointOfArrival}"></div>
    <div class="form group" style="color: red" th:if="${#fields.hasErrors('coast')}" th:errors="*{coast}"></div>

    <div class="panel panel-left">
      <div class="panel-content">
        <div class="image-background">
        </div>
      </div>
    </div>

    <div class="panel panel-right">
      <div class="panel-content">
        <div class="form">
          <h1>Добавление рейса</h1>
          <div class="group">
            <input type="date" th:field="*{dateOfFlight}" name="dateOfFlight" required>
            <span class="highlight"></span>
            <label>Введите Дату рейса</label>
          </div>
            <div class="group">
                <input type="time" th:field="*{timeOfDeparture}" step="2"  name="timeOfDeparture" required>
                <label>Введите время отправления</label>
            </div>
          <div class="group">
            <input type="time" th:field="*{timeOfArrival}" step="2"  name="timeOfArrival" required>
            <label>Введите время прибытия</label>
          </div>
          <div class="group">
            <input type="text" th:field="*{pointOfDeparture}" name="pointOfDeparture" required>
            <span class="highlight"></span>
            <label>Введите место отправления</label>
          </div>
          <div class="group">
            <input type="text" th:field="*{pointOfArrival}" name="pointOfArrival" required>
            <span class="highlight"></span>
            <label>Введите место прибытия</label>
          </div>
            <div class="group">
                <input type="number" th:field="*{coast}" name="coast" required>
                <span class="highlight"></span>
                <label>Стоимость</label>
            </div>
          <div class="group">
            <select  name="carrierCoName" required>
              <div th:each="element : ${contracts}">
                <option th:text="${element.carrierCoName}"></option>
              </div>
            </select>
            <label>Выбор компании поставщика</label>
          </div>
          <button class="btn fifth" type="submit">Добавить рейс</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="menu"></div>
</form>
</body>
</html>