<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/site.css}" rel="stylesheet" />
    <title>Title</title>
</head>
<body class="body">
<div class="nav">
    <a href="/ticket" class="menu-activator"><i class="ion-ios-more"></i></a>
    <i class="ion-cube"></i>
</div>
<div class="inner">
    <div class="panel panel-left">
        <div class="panel-content">
            <div class="image-background">
            </div>
        </div>
    </div>
    <div class="panel-content">
        <div class="form">
            <table class="table">
                <thead>
                <tr>
                    <th>Дата бронирования</th>
                    <th>Дата окончания бронирования</th>
                    <th>Кол-во мест</th>
                    <th>Номер списка билетов</th>
                    <th>Логин сотрудника</th>
                    <th>Ссылка на чек</th>
                    <th>Редактирование</th>
                    <th>Удаление</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="el : ${ticket}">
                        <td><h3 th:text="${el.dateOfBooking}"></h3></td>
                        <td><a th:text="${el.dateOfEndBooking}"></a></td>
                        <td><a th:text="${el.countClientsSeats}"></a></td>
                        <td>
                            <from th:each="addr : ${el.getTicketLi()}">
                                <a th:text="${addr.getId()}"></a>
                            </from>
                        </td>
                        <td>
                            <from th:each="addr : ${el.getUserNa()}">
                                <a th:text="${addr.getUsername()}"></a>
                            </from>
                        </td>
                        <td>
                            <from th:each="addr : ${el.getCheck()}">
                                <a th:text="${addr.getLink()}"></a>
                            </from>
                        </td>
                        <td><a class="send-btn" th:href="'/ticket/' + ${el.id} + '/edit'">Редактировать</a></td>
                        <td><a class="send-btn" th:href="'/ticket/' + ${el.id} + '/remove'">Удалить</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>