<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавление нового билета</title>
    <link th:href="@{/css/site.css}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class="body">
<form th:action="${'/ticketAdd'}" th:object="${ticket}" class="body" method="post">
    <div class="nav">
        <a href="/ticket" class="menu-activator"><i class="ion-ios-more"></i></a>
        <i class="ion-cube"></i>
    </div>
    <div class="container">
        <div class="inner">
            <div class="form group" style="color: red" th:if="${#fields.hasErrors('dateOfBooking')}" th:errors="*{dateOfBooking}"></div>
            <div class="form group" style="color: red" th:if="${#fields.hasErrors('dateOfEndBooking')}" th:errors="*{dateOfEndBooking}"></div>
            <div class="form group" style="color: red" th:if="${#fields.hasErrors('countClientsSeats')}" th:errors="*{countClientsSeats}"></div>
            <div class="panel panel-left">
                <div class="panel-content">
                    <div class="image-background">
                    </div>
                </div>
            </div>

            <div class="panel panel-right">
                <div class="panel-content">
                    <div class="form">
                        <h1>Добавление билета</h1>
                        <div class="group">
                            <input type="date" th:field="*{dateOfBooking}" name="dateOfBooking" required>
                            <span class="highlight"></span>
                            <label>Введите дату бронирования</label>
                        </div>
                        <div class="group">
                            <input type="date" th:field="*{dateOfEndBooking}" name="dateOfEndBooking" required>
                            <span class="highlight"></span>
                            <label>Введите дату окончания бронирования</label>
                        </div>
                        <div class="group">
                            <input type="number" th:field="*{countClientsSeats}" name="countClientsSeats" required>
                            <span class="highlight"></span>
                            <label>Введите кол-во купленных билетов</label>
                        </div>
                        <div class="group">
                            <select  name="ticketNu" required>
                                <div th:each="element : ${ticketLists}">
                                    <option th:text="${element.dateOfForm}"></option>
                                </div>
                            </select>
                            <label>Выбор номера списка рейсов</label>
                        </div>
                        <div class="group">
                            <select  name="userNa" required>
                                <div th:each="element : ${users}">
                                    <option th:text="${element.username}"></option>
                                </div>
                            </select>
                            <label>Выбор логина пользователя</label>
                        </div>
                        <div class="group">
                            <select  name="link" required>
                                <div th:each="element : ${cheques}">
                                    <option th:text="${element.link}"></option>
                                </div>
                            </select>
                            <label>Выбор чека</label>
                        </div>
                        <button class="btn fifth" type="submit">Добавить билет</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu"></div>
</form>
</body>
</html>