<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <style>
   .text {
    text-align:  center;
   }
  </style>
</head>
<body>
<h2 class="text">Фильтрация</h2>
<form class="text" method="post" th:action="${'/ticketFilter/result'}">
  <input type="text" name="fioClient">
  <button type="submit">Найти</button>
  <div class="text">
    <table border="0" class="text" align="center">
      <tr>
        <td>
          <fieldset class="text">
            <legend>Жесткий поиск</legend>
            <div th:each="el : ${result2}">
              <p th:text="${el.fioClient}"></p>
              <p th:text="${el.dateOfDelivery}"></p>
              <p th:text="${el.coast}"></p>
              <p th:text="${el.countClientsSeats}"></p>
              <p th:text="${el.isPaid}"></p>
            </div>
          </fieldset>
        </td>
        <td>
          <fieldset class="text">
            <legend>Мягкий поиск</legend>
            <div th:each="el : ${result}">
              <p th:text="${el.fioClient}"></p>
              <p th:text="${el.dateOfDelivery}"></p>
              <p th:text="${el.coast}"></p>
              <p th:text="${el.countClientsSeats}"></p>
              <p th:text="${el.isPaid}"></p>
            </div>
          </fieldset>
        </td>
      </tr>
    </table>
  </div>
</form>
</body>
</html>